{% extends "base.html" %}
{% block main %}
<div class="alert alert-primary" role="alert">
  新增成功
</div>
<form action="/form/save" method="POST" class="row">
  <div class="col-xl-6 col-lg-12">
    <div class="form-group">
      <label for="exampleFormControlInput1">组件名称</label>
      <input type="text" class="form-control" id="name" name="type" value="{{type}}" placeholder="表单名称">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">表单json</label>
      <textarea class="form-control" id="content" name="content" rows="20">{{content}}</textarea>
    </div>
    <div class="form-group">
      <button type="button" id="save" class="btn btn-primary">保存</button>
      <button type="button" id="resolve_form" class="btn btn-primary">解析为表单</button>
      <button type="button" id="preview_form" class="btn btn-primary">预览表单</button>
      <button type="button" id="resolve_table" class="btn btn-primary">解析为表格</button>
      <button type="button" id="preview_table" class="btn btn-primary">预览表格</button>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12">
    <div class="form-group" id="list">
      <textarea class="form-control" id="form_content" name="content" rows="10"></textarea>
    </div>
    <div class="form-group">
      <iframe src="" frameborder="0" id="frame" style="width: 100%;height: 400px;"></iframe>
    </div>
  </div>
  <br>
</form>
{% endblock %}
{% block script %}
<script>
  $('#list').hide()
  $('.alert').alert('close')
  document.getElementById('save').addEventListener('click', () => {
    const content = document.getElementById('content').value
    console.log(content, eval('(' + content + ')'))
    $.ajax({url: '/save', type: 'post', data: {
      content: eval('(' + content + ')'),
      name: document.getElementById('name').value
    }, success: function  (data) {
      if (data.data === 'success') {
        $('.alert').alert()
        setTimeout(() => {$('.alert').alert('close')}, 1000)
      }
    }})
  })
  document.getElementById('resolve_form').addEventListener('click', () => {
    const content = document.getElementById('content').value
    $.ajax({url: '/form/resolve', type: 'post', data: {
      content: eval('(' + content + ')'),
      name: document.getElementById('name').value
    }, success: function  (data) {
      $('#list').show()
      console.log(data)
      $('#form_content').val(data.data)
    }})
  })
  document.getElementById('resolve_table').addEventListener('click', () => {
    const content = document.getElementById('content').value
    $.ajax({url: '/table/resolve', type: 'post', data: {
      content: eval('(' + content + ')'),
      name: document.getElementById('name').value
    }, success: function  (data) {
      $('#list').show()
      console.log(data)
      $('#form_content').val(data.data)
    }})
  })
  document.getElementById('preview_form').addEventListener('click', () => {
    const content = document.getElementById('content').value
    $.ajax({url: '/form/preview', type: 'post', data: {
      content: eval('(' + content + ')'),
      name: document.getElementById('name').value
    }, success: function  (data) {
      document.getElementById('frame').srcdoc = data
    }})
  })
  document.getElementById('preview_table').addEventListener('click', () => {
    const content = document.getElementById('content').value
    $.ajax({url: '/table/preview', type: 'post', data: {
      content: eval('(' + content + ')'),
      name: document.getElementById('name').value
    }, success: function  (data) {
      document.getElementById('frame').srcdoc = data
    }})
  })
</script>
{% endblock %}