<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
    {% include "form_item.html" %}
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            form: {
              {% for field in fields %}
              {{field.name}}: '{{field.default}}',
              {% endfor %}
            }
        }
    })
  </script>
</body>
</html>