filter: {
  {% for field in fields %}{{field.name}}: '',{% endfor %}
},
columns: [
  {
    type: 'selection',
    width: 60,
    align: 'center'
  },
  {% for field in fields %}{
    title: '{{field.label}}',
    key: '{{field.name}}'
  },{% endfor %}
  {
    title: '操作',
    key: 'action',
    width: 150,
    align: 'center',
    render: (h, params) => {
      return h('div', [
        h('Button', {
          props: {
            type: 'primary',
            size: 'small'
          },
          style: {
            marginRight: '5px'
          },
          on: {
            click: () => {}
          }
        }, '查看'),
        h('Button', {
          props: {
            type: 'primary',
            size: 'small'
          },
          style: {
            marginRight: '5px'
          },
          on: {
            click: () => {}
          }
        }, '编辑'),
        h('Button', {
          props: {
            type: 'error',
            size: 'small'
          },
          style: {
            marginRight: '5px'
          },
          on: {
            click: () => {}
          }
        }, '删除')
      ])
    }
  }
]